name: build
on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        platform:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.platform }}
    env:
      RUST_BACKTRACE: 1
    steps:
      - uses: actions/checkout@v6

      - name: Build
        run: make

      - name: Upload release artifact
        uses: actions/upload-artifact@v4
        with:
          name: tuxedo-infinitybook-gen10
          path: target/release/tuxedo-infinitybook-gen10
